<div class="main">
  <div class="title">
    <h3><b>Company Name</b></h3>
    POWERING A GREENER TOMORROW
  </div>

  <div class="form_title">
    EMPLOYMENT<br>
    APPLICATION
  </div>

  <div class="position">
    <table class="app_table">
      <tr ><td bgcolor=#d3d3d3><b>Position Applied for</b></td></tr>
      <tr ><td><b>Title :</b> Asst. Manager</td></tr>
      <tr><td><b>Department :</b> Business Development</td></tr>
      <tr><td><b>Location :</b> Jaisailmer</td></tr>
    </table>
  </div>
  <br>
  <div class="personal_info">
    <table class="app_table">
      <tr ><td  bgcolor=#d3d3d3 colspan="2"><b>Part A : Personal Information</b></td></tr>
      <tr ><td colspan="2"><b>Complete Name :</b> Shimpi Atul Raghunath</td></tr>
      <tr><td colspan="2"><b>Date of Birth :</b> 20/02/1977</td></tr>
      <tr><td colspan="2"><b>Address Present : </b>Flat no - 21, Sadabhav Society, Mahatma Society, Kothrud</td></tr>
      <tr>
        <td><b>City</b> : Pune</td>
        <td><b>State</b> : Maharashtra</td>
      </tr>
      <tr>
        <td><b>Zip</b> : 411038</td>
        <td><b>Phone No</b> : 9890979429</td>
      </tr>

      <tr><td colspan="2"><b>Address Permanent :</b> Flat no - 21, Sadabhav Society, Mahatma Society, Kothrud</td></tr>
      <tr>
        <td><b>City :</b> Pune</td>
        <td><b>State :</b> Maharashtra</td>
      </tr>
      <tr>
        <td><b>Zip :</b> 411038</td>
        <td><b>Phone No :</b> 9890979429</td>
      </tr>
    </table>
  </div>
<br><br>
  <div class="personal_info">
    <table class="app_table">
      <tr><td  bgcolor=#d3d3d3 colspan = "4"><b>Part B (1) : Education </b></td></tr>
      <tr>
        <td><b>Examination</b></td>
        <td><b>School/University</b></td>
        <td><b>Passing Year</b></td>
        <td><b>Grade/CGPA</b></td>
      </tr>

      <tr>
        <td>BCA</td>
        <td>Pune</td>
        <td>2003</td>
        <td>80 %</td>
      </tr>

      <tr>
        <td>HSC</td>
        <td>Pune Scondary and Higher Secondary Board</td>
        <td>1999</td>
        <td>50 %</td>
      </tr>

      <tr>
        <td>SSC</td>
        <td>Pune Scondary and Higher Secondary Board</td>
        <td>1997</td>
        <td>50 %</td>
      </tr>
    </table>
  </div>

  <br><br>
  <div class="personal_info">
    <table class="app_table">
      <tr><td  bgcolor=#d3d3d3 colspan = "4"><b>Part B (2) : Job-Related Training/Course Work Attended </b></td></tr>
      <tr>
        <td><b>Course Attended</b></td>
        <td><b>Training Institute</b></td>
        <td><b>Duration</b></td>
        <td><b>Details</b></td>
      </tr>

      <tr>
        <td>Diploma in Soft Engg</td>
        <td>Aptech Computer Eduction</td>
        <td>2003</td>
        <td>80 %</td>
      </tr>

      <tr>
        <td>HSC</td>
        <td>Pune Scondary and Higher Secondary Board</td>
        <td>1999</td>
        <td>50 %</td>
      </tr>

      <tr>
        <td>SSC</td>
        <td>Pune Scondary and Higher Secondary Board</td>
        <td>1997</td>
        <td>50 %</td>
      </tr>
    </table>
  </div>
</div>
<br>
<%= link_to 'Back', :back %>
